body {
	padding-top: 54px;
}

.navbar span {
	color: #E9ECEF;
}

.navbar span.right {
	padding-right: 10px;
	margin-top: 3px;
    display:inline-block;
	font-size: 20px;
}

.navbar div.user:hover {
	opacity: 0.8;
	cursor: pointer;
}

.navbar-title span {
	font-size: 1.5em;
}

.jumbotron {
	padding: 1.2em 0.8em;
}

#LoginText {
	color: #4D5359;
	font-size: 14px;
	font-style: italic;
}

#Registration {
	margin-top: 20px;
}

#ProjektName {
	font-weight: bold;
}

#PasswortFormatHinweis {
	color: #4D5359;
	font-size: 14px;
	font-style: italic;
}

#adminbereich {
	margin-top: 25px;
}

#neueKategorie {
	margin-top: 10px;
}

#RegistrationFormButtons {
	text-align: right;
}